<% if signed_in? %>

	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1 class="micropost">What's Up?</h1>
				<%= render 'shared/micropost_form'%>
				<%= render 'shared/feed'%>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info'%>				
			</td>				
		</tr>
	</table>

<% else %>

	<h1>Welcome to Portfolio</h1>

	<p>Soon, this will be the home of my personal portfolio. I am also hoping to make this work available to other people who create stuff and are looking for a place to show their work. This is my first Rails application, so well see how it all goes.</p>

	<p>Please register below as a guest. This will give you special access to absolutely nothing. However, it will enable me to test out my budding rails knowledge so that I can become a nijitsu rails samurai (since Ruby was started in Japan the community seems to love sprinkling some Japanese cultural pop heritage here and there).</p>

	<%= link_to 'Sign Up Now Kamikaze!', signup_path, class: "signup_button round" %>
	
<% end %>
	
