<h1><%= title %></h1>

<p><%="the parameter being shown is: #{params[:id]}"%></p>

<p>This is a test file used to test out how resources and normal page routes work (and whether I can have a controller that handles a resource and other pages). If this page is working then it means that the same controller can handle both. 
	<br/>
	<br/>Find this file in app/views/pages/show.html.erb
</p>
